<header class='navbar navbar-fixed-top navbar-expand-sm'>
  <div class="navbar-brand">
    <%= image_tag("jnkilogo.jpg") %>
  </div>

  <div class='container'>
    <nav>

      <ul class='nav navbar-nav navbar-center'>

        <li class='rounded'><%= link_to "Home", root_path %></li>
        <li class='rounded'><%= link_to "About", about_path %></li>
        <li class='rounded'><%= link_to "Tours", tours_path %></li>
        <li class='rounded'><%= link_to "Reviews", reviews_path %></li>
        <li class='rounded'><%= link_to "Contact", contact_path %></li>
        <li class='rounded'><%= link_to "Blog", blog_path %> </li>

      </ul>



    </nav>
  </div>
</header>
